# 파이썬 기본 문법 공부

## 문자열 출력

In [1]:
print('Hello World!')

Hello World!

## 숫자와 계산(사칙 연산)

In [2]:
print(1)

1

In [3]:
print(1+2)

3

In [7]:
print(2-1)

1

In [4]:
print(2*2)

4

In [6]:
print(15/7)

2.142857142857143

In [5]:
print((1+2)*3)

9

In [9]:
print(15//4) #몫

3

In [12]:
print(15%4) #나머지

3

In [11]:
print(2 ** 3) #승

8

## 변수
> 데이터를 기반으로, 컴퓨터에 명령을 내리는 것
> 데이터는 문자 또는 숫자

크게 4가지가 있습니다.
1. 문자열(string)
2. 숫자: 정수(integer)
3. 숫자: 부동소숫점(float)
4. 특별한 타입, True/False(Boolean)

In [15]:
digit = 1
digit2 = 2
print(digit)
num = False
num2 = True

1

In [18]:
print (3>=3)
print(34 == 20)
print(34 <= 40)
print(31 != 20)

True
False
True
True

##### 변수 이름 예
- 변수 이름은 snake, case, snake_case, num1, snakeCase(비추천)
- 2가지 단어를 쓸 때는 _를 추천

##### 나이 이름 키 몸무게 발사이즈 안경 윱무 결혼 유무 성별 취미 특기

In [2]:
age = 26
name = 'Lawrence'
heigth = 180
weight = 80
foot_size = 270
glass = True
marriage = True
gender = 'male'
hobby = 'reading'
special = 'running'

## 입력

In [9]:
pi = 3.14
radius = 2
print('지름은?', radius * 2)
print('둘레는?', pi*radius*2)
print('넓이는?', pi*radius*4)

지름은? 4
둘레는? 12.56
넓이는? 25.12

In [7]:
name = input('What is your name?')

What is your name?kyubum

In [8]:
print(name)

kyubum

In [10]:
digit1 = int(input())
digit2 = int(input())

2
4

## Type
- 정수 int
- 부동 소숫점: float
- 문자열: str
- Booleand: bool

In [11]:
int(3.6)

3

In [12]:
float(3)

3.0

In [13]:
str(3)

'3'

In [14]:
bool(3==1)

False

In [19]:
num1, num2 = input().split()
print(num1, num2)
print(num1 * num2)

2 4
2 4

TypeError: can't multiply sequence by non-int of type 'str'

In [22]:
print(type(num1))

<class 'str'>

In [27]:
num3, num4 = list(map(int, input().split()))
print(num3*num4)

2 4
8

## 문자열

In [28]:
some_string = 'python'
len(some_string)

6

In [45]:
article = """Boris Johnson is fighting to stay on as prime minister as the wave of ministerial resignations continues.

Northern Ireland Secretary Brandon Lewis became the latest cabinet member to quit early on Thursday, quickly followed by four other ministers.

Previously-loyal supporters - including Priti Patel and Grant Shapps - urged him to step down on Wednesday.

But Mr Johnson insists he has a "colossal mandate to keep going" from voters.

Meanwhile, Attorney General Suella Braverman has said she will stand in any leadership challenge, although she did not resign."""

In [39]:
print(article.count("Boris"))
print(len(article))

1
566

##### 개행 문자
- \n

In [40]:
print(article.find('s')) # 몇 번째에 처음 나오느냐 0부터 시작

4

In [42]:
#특정 문자를 바꾸는 것
print(article.replace('Boris Johnson', 'Lawrence Jang'))

Lawrence Jang is fighting to stay on as prime minister as the wave of ministerial resignations continues.

Northern Ireland Secretary Brandon Lewis became the latest cabinet member to quit early on Thursday, quickly followed by four other ministers.

Previously-loyal supporters - including Priti Patel and Grant Shapps - urged him to step down on Wednesday.

But Mr Johnson insists he has a "colossal mandate to keep going" from voters.

Meanwhile, Attorney General Suella Braverman has said she will stand in any leadership challenge, although she did not resign.

## 문자열 특수 기능
- 인덱스
    - 인덱스는 특정 데이터를 가리키는 번호를 나타낸다.
   
python

012345

-6-5-4-3-2-1

In [46]:
print(article[0])
print(article[-1])

B
.

## 슬라이싱

In [47]:
string1 = 'python'

In [50]:
print(string1)
print(string1[2])
print(string1[2:4])

python
t
th

##### strip

In [68]:
some_string = ',,,computer...  '
print(some_string)

,,,computer...

In [64]:
print(some_string.strip()) #space 없애버림

computer...

In [72]:
#특정 문자열 삭제
print(some_string.strip(","))
some_string.strip('.')

computer...

',,,computer...  '